
        #rumah {
            width: 80%;
            margin: auto;
        }

        .kompetensi {
            font-style: italic;
            font-size: large;
        }

        .pendidikan {
            height: 150px;
        }

        .huruf {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            font-weight: 500;
        }

        .jarak{
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .warna {
            background-color: yellow;
            width: 60%;
        }
